<div class='btn-toolbar'>
    <button id='button-confirm-delete-cancel' ng-click='dismiss()' class='btn'>Cancelar</button>&nbsp;
    <button id='button-confirm-delete-ok' class='btn btn-danger' ng-click='destroy(row, $index, item, item2);dismiss();'>Remover</button>
</div>