<div ng-controller="inicialCtrl">
    <div ng-include src="getInicial()" class="span8"></div>

    <div class="span4 box-shadow-white well">
        <div class="thumbnail">
            <img alt="300x200" style="width: 100%; height: 200px;" src="{{ asset('bundles/coreorthos/img/mostraImagemIndex.asp.png') }}">
            <div class="caption">
                <h3>Orthos Clareamento</h3>
                <p>A todos colaboradores, a Orthos está iniciando essa semana uma promoção a todos os pacientes para clareamento, todos os colaboradores devem estar informados no seguinte link: <a href=="#">Informações</a></p>
                <p>
                    <a class="btn btn-primary" href="#">Visualizado</a>
                    <a class="btn" href="#">Cancelar</a>
                </p>
            </div>
        </div>
    </div>
</div>
<script type="text/javascript" src="{{ asset('bundles/coreorthos/default/js/inicial.js') }}"></script>
<script type="text/javascript" src="{{ asset('bundles/coreorthos/javascript/externals/dragDrop.js') }}"></script>
