<div>
    <div class="control-group">
        <label class="control-label">{{'message.receiver.label'|trans}}</label>

        <div class="controls">
            <xys-autocomplete-multiple min-chars="3" ng-model="formMessage.users_sent"
                                       searching-text="Pesquisando..." hint-text="Digite o nome do contato."
                                       no-results-text="Nenhum resultado encontrado"
                                       url="{{urlUsersAutoComplete}}"
                                       results-formatter="formatWithPicture($item)"
                                       style="width: 740px;"></xys-autocomplete-multiple>
        </div>
    </div>
    <div class="control-group" ng-hide="reply">
        <label class="control-label">{{'message.subject.label'|trans}}</label>

        <div class="controls">
            <input type="text" name="assunto" ng-model="formMessage.ds_subject" maxlength="300" style="width: 740px;">
        </div>
    </div>
    <div class="control-group">
        <label class="control-label">{{'message.message.label'|trans}}</label>

        <div class="controls">
            <textarea ng-model="formMessage.ds_message" class="height160" style="width: 740px;" cols="60" rows="3"></textarea>
        </div>
    </div>
    <div class="control-group">
        <div class="controls">
            <button class="btn btn-primary" ng-click="sendMessage()">{{'default.send_send'|trans}}</button>
            <button class="btn" ng-click="resetData()">{{'default.cancel'|trans}}</button>
        </div>
    </div>
</div>